@import url("https://use.typekit.net/cad3pph.css");
@import url("https://use.typekit.net/cad3pph.css");

div.container {
    max-width: 30em;
    margin: auto;
}

img {
    width: 100%;
}

div.img {
    width: 80%;
    margin: auto;
}

nav ul {
    padding-bottom: 1em;
    padding-left: 1em;
    margin: auto;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-right: .5em;
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    text-transform: uppercase;
    
}

a{
    text-decoration: none;
    color: #294D2D;
}

h2{
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    color: #53995B;
}

h3{
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

h4{
    font-family: span, serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.3em;
    color: #53995B;
}

p{
    font-family: span, serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1em;
    letter-spacing: 0.1em;
}

div.location{
    text-align: center;
}